{% extends 'base.html.twig' %}

{% block title %}Services{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-white text-center mt-5 pt-5 display-2 mb-5">Services</h1>
        <div class="d-flex flex-wrap justify-content-center">
        </div>
    </div>
{% endblock %}
