{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
    <h2 class="text-white text-center mt-5">Me contacter</h2>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info w-100 text-center mt-5 ">{{ message }}</div>
    {% endfor %}
    <div class="row text-white mt-5">
        <div class="d-flex flex-wrap justify-content-around headline2">
        </div>
    </div>
    <div class="pt-5 mt-auto text-white">
        <div class="d-flex flex-wrap justify-content-evenly mt-2">
            <div class="zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5">{{ form(form) }}
            </div>
        </div>
    </div>
{% endblock %}


