<footer class="pt-5 mt-auto">
    <div class="d-flex flex-wrap justify-content-evenly mt-2">
        <div class="zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5">
            <a href="https://www.instagram.com/ddaideye/"><i class="fab fa-instagram text-white display-3"></i></a>
        </div>
        <div class="zoom col-lg-3 col-sm-10 text-center p-5 rounded-3 mt-5">
            <a href="https://www.linkedin.com/in/damien-diaz-2453781b2/?originalSubdomain=fr"><i class="fab fa-linkedin text-white display-3"></i></a>
        </div>
    </div>
</footer>