{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="container text-center" id="portfolio">
        <h2 class="m-5 text-warning">Mon Portfolio</h2>
        <div class="card-group">
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Super Mario JavaScript</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/supermario.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cours3">En savoir plus</button>
                </div>
            </div>
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">E commerce</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/E-Commerce-PNG-HD-Quality.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cours11">En savoir plus</button>
                </div>
            </div>
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Fullbus</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/who1.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#catalogue">En savoir plus</button>
                </div>
            </div>
        </div>
    </div>
    </body>
{% endblock %}