{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}

    <div class="container text-center" id="portfolio">
        <h2 class="m-5 text-warning">Mon Portfolio </h2>
        <div class="card-group">
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Super Mario JavaScript</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/supermario.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="https://damien1989.github.io/Mario-last-version/" class="button">En savoir plus</a>
                </div>
            </div>
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">E commerce</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/E-Commerce-PNG-HD-Quality.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cours11">En savoir plus</button>
                </div>
            </div>
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Fullbus</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/who1.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="https://fullbus.harari.ovh/" class="button">En savoir plus</a>
                </div>
            </div>
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Dark Mode Javascript</div>
                <div class="card-body text-success p-0">
                    <img src="{{ asset('uploads/darkmode.png') }}" class="d-block w-100">
                </div>
                <div class="card-footer bg-transparent border-success">
                    <a href="https://damien1989.github.io/darkmode-javascript/" class="button">En savoir plus</a>
                </div>
            </div>

        </div>
    </div>
    </body>
{% endblock %}